html, 

body .page2-color {
    background-color:#dfb200 ;
    color: #222222;
    
}

.container {
    height: 100%;
     background-position: left; 
    background-color:#dfb200;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    line-height: 1.6;
    color: #222222;
    font-size: large ;
}

h1, h2, p {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}
.course-images img {
    
    width: 60%;
    
    margin: 20px;
    
    
}
.photos img {
    display: block;
    width: 60%;
    height: auto;
    margin: 30px auto ;
    float:left;
    
    
}


